
body{
	background: 
	linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),
	url("/static/images/camp4.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.box{
	display: inline-block;
	margin-top:20%;
	width:100%;
	height:50%;
}

.white{
	background:white;
}
