body{
	background-image: url("/static/images/camp6.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}

table {
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}


.story{
    background-attachment: fixed;
	
	border-radius: 40px;
    padding: 10px 10px 10px 10px;
}