<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/h.css">

    <title>Refact</title>
  </head>


  <!-- <body> -->
     <!-- <body background="/static/images/l.jpeg"> -->
    
    <div id="bg-image"></div>

    <nav class="n navbar navbar-expand-sm navbar-light bg-light">
      <!-- <a href="{{url_for('home')}}" class="navbar-brand">Refact</a> -->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#"><img class="img-responsive2"       
       src="/static/images/logo.png" width="60" height="57"></a>
          <ul class="navbar-nav">
      <div class="v collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav">
              <li style="text-align: right" class="nav-item">
              <a href="{{url_for('home')}}" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
              <a href="{{url_for('about_us')}}" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
              <a href="{{url_for('share')}}" class="nav-link">Share Your Story</a>
              </li>
          </ul>
      </div>
  </nav>
</head>
<body>
<div class="about_us">
  <br>
	<h3>About us</h3>
	Refact aims to bring hope and inspiration to young refugees by working alongside the refugees to help them identify and design solutions to the issues in their immediate community and environment. We plan to accomplish this by providing an online platform as well as a variety of on-site workshops.
  <br> <br>
	<h3>MEET our team</h3>
	<ul>      
      <img src="static/images/adan.jpeg" class="team"><br>Adan- Project Manager<br>
      Yonatan Fatal- Project Manager<br>
			<img src="static/images/gilad.jpg" class="team"><br>Gilad Segev- UX<br>
      Naama Shalev-UX<br>
      Dana Stern- developer<br>
      Simon Deeb- developer<br>
      Matvey- developer<br>
      Bassel- developer<br>
      Leen- designer<br>
      Majd- designer<br>
	</li>
	</ul>
</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>