<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/about_us.css">

    <title>Refact</title>
  </head>


  <!-- <body> -->
     <!-- <body background="/static/images/l.jpeg"> -->
    
    <div id="bg-image"></div>

    <nav class="n navbar navbar-expand-sm navbar-light bg-light">
      <!-- <a href="{{url_for('home')}}" class="navbar-brand">Refact</a> -->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#"><img class="img-responsive2"       
       src="/static/images/logo.png" width="60" height="57"></a>
          <ul class="navbar-nav">
      <div class="v collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav">
              <li style="text-align: right" class="nav-item">
              <a href="{{url_for('home_ar')}}" class="nav-link">الرئيسية</a>
              </li>
              <li class="nav-item">
              <a href="{{url_for('about_us_ar')}}" class="nav-link">حولنا</a>
              </li>
              <li class="nav-item">
              <a href="{{url_for('share_ar')}}" class="nav-link">شاركنا قصتك</a>
              </li>
              <li class="nav-item">
                <a href="{{url_for('view_ar')}}" class="nav-link">القصص</a>
            </li>
          </ul>
      </div>
  </nav>
</head>
<body>

<div class="about_us"><div class="bg_about">
  <br>
	<h3>حولنا</h3>
	ريفاكت تطمح لنثر الأمل والالهام للشباب من اللاجئين من خلال العمل جنبا الى جنب معهم لمساعدتهم لتحديد المشاكل التي يواجهونها وتصميم الحلول الملائمة لحل هئه المشاكل في مجتمعهم وبيىتهم المحيطة <br>
نحن نسعى الى تحقيق ذلك من خلال توفير منصة اونلاين الى جانب العديد من ورش العمل لتنفيذ الحلول والتعامل مع المشاكل على طاولة النقاش 

	

  <br><br></div> <div class="group_pic"><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div><br>
	<h3>تعرف على فريقنا</h3>
  <div class="roles">مدراء المشروع</div>
	<div class="row"> 
      <div class="col"> </div>
      <div class="col"><img src="static/images/adan.JPG" class="team"><br>عدن ابوالنعاج<br></div>
      <div class="col"><img src="static/images/yonatan.JPG" class="team"><br>يونتان فتل<br></div>
      <div class="col"> </div>
  </div><br>
  <div class="roles">فريق البحث</div>
	<div class="row">
      <div class="col"> </div>
      <div class="col"><img src="static/images/gilad.JPG" class="team"><br>جلاد سيجف<br></div>
      <div class="col"><img src="static/images/naama.JPG" class="team"><br>نعمة شليف<br></div>      
      <div class="col"> </div>
  </div><br>
  <div class="roles">فريق التطوير</div>
  <div class="row">
      <div class="col"><img src="static/images/dana.JPG" class="team"><br>دانا ستيرن</div>
      <div class="col"><img src="static/images/simon.JPG" class="team"><br>سيمون ديب</div>
      <div class="col"><img src="static/images/matvey.JPG" class="team"><br>ماتفي خوسينوف</div>
      <div class="col"><img src="static/images/bassel.JPG" class="team"><br>باسل منصارة</div>
  </div><br>
  <div class="roles">فريق التصميم</div>
  <div class="row">
      <div class="col"> </div>
      <div class="col"><img src="static/images/leen.JPG" class="team"><br>لين خميس</div>
      <div class="col"><img src="static/images/majd.JPG" class="team"><br>مجد نصراوي</div>
      <div class="col"></div>

</div></div><br>
<div style="background-color: #ccc;">
<br>
      <center><h1 style="color: black;">تواصل معنا</h1>

        <a href="https://www.facebook.com/ReFact.meet/?modal=admin_todo_tour" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/refact.y3/" class="fa fa-instagram"></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=Refact.meet@gmail.com&su=SUBJECT&body=BODY&bcc=Refact.meet@gmail.com" class="fa fa-google"></a>
        </center>
        <br>
  </div></div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>