<!DOCTYPE html>
<html>
<head>
	<title></title>
	<ul>
            <li><a href="{{url_for('donations')}}">Donate</a></li>
            <li><a href="{{url_for('volunteer')}}">Volunteer</a></li>
            <li><a href="{{url_for('about_us')}}">About Us</a></li>
            <li><a href="{{url_for('Home')}}">Home</a></li>
    </ul>
</head>
<body>
<div>
	<h3>About us</h3>
	Refact is an organization...........................
	<h3>MEET our team</h3>
	<ul>
		<li>
			<img src="kid.jpg">
			Simon Deeb
		</li>
	</ul>
</div>
</body>
</html>