<html>
    <head>
        <title>Activities</title>
        <ul>
            <li><a href="{{url_for('home')}}">HomePage</a></li>
            <li><a href="{{url_for('Activities')}}">Activities</a></li>
            <li><a href="{{url_for('stories')}}">View Stories</a></li>
            <li><a href="{{url_for('share')}}">Share Your Story</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('Login')}}">Log In</a></li>
            <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a href="{{url_for('Donate')}}">Donate</a></li>
            <li><a>Add Event</a></li>
        </ul>
    </head>
    <body>
        <h1>Activities</h1>
        <center>
            <form id="act" action="/activities" method="GET">
            <table width="60%">
                {% for i in activities %}
            <tr><td class="post"><center>{{i.name}}</center><br>
                {{i.description}}<br>
                {{i.age}}<br>
                {{i.date}}<br>
                {{i.location}}<br>
                {{i.leader}}</td></tr>
                {% endfor %}
            </table>
            </form>
        </center>
    </body>
</html>