<html>
    <head>
        <title>Lead An Acivity</title>
        <ul>
            <li><a href="{{url_for('home')}}">HomePage</a></li>
            <li><a href="{{url_for('Activities')}}">Activities</a></li>
            <li><a href="{{url_for('stories')}}">View Stories</a></li>
            <li><a href="{{url_for('share')}}">Share Your Story</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('Login')}}">Log In</a></li>
            <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a href="{{url_for('Donate')}}">Donate</a></li>
            <li><a>Add Event</a></li>
        </ul>
    </head>
    <body>
        <h1>Lead An Activity</h1>
        <form id="Activity" action="/add_activity" method="POST">
        <input type="text" name="name" placeholder="Activity name"><br>
        <textarea name="description" placeholder="Description"></textarea><br>
        <input type="text" name="age" placeholder="Age Range (X-Y)"><br>
        <input type="text" name="date" placeholder="Date (dd/mm/yy)"> <br>
        <input type="text" name="location" placeholder="location"> <br>
        <button type="submit" name="post" value="Post">Submit</button>
    </form>
    </body>
</html>