<html>
    <head>
        <title>Donation</title>
        <ul>
            <li><a href="{{url_for('home')}}">HomePage</a></li>
            <li><a href="{{url_for('Activities')}}">Activities</a></li>
            <li><a href="{{url_for('stories')}}">View Stories</a></li>
            <li><a href="{{url_for('share')}}">Share Your Story</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('Login')}}">Log In</a></li>
            <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a href="{{url_for('Donate')}}">Donate</a></li>
            <li><a>Add Event</a></li>
        </ul>
    </head>
    <body>
        <center>
            <h1>For donations call this number</h1><br>
            <h2>+972 52 427 4456</h2>
        </center>
        
    </body>
</html>