<html>
    <head>
        <title>Donation</title>
            <ul>
                <li>HomePage</li>
                    <li>Activities</li>
                    <li>View Stories</li>
                    <li>Share Your Story</li>
                    <li>Sign Up</li>
                    <li>Log In</li>
                    <li>Contact Us</li>
                    <li>Donate</li>
                </ul>
    </head>
    <body>
        <center>
            <h1>For donations call this number</h1><br>
            <h2>+972 52 427 4456</h2>
        </center>
        
    </body>
</html>