<html>
    <head>
        <title>Home</title>
        <ul>
            <li>HomePage</li>
            <li>Activities</li>
            <li>View Stories</li>
            <li>Share Your Story</li>
            <li>Sign Up</li>
            <li>Contact Us</li>
            <li>Donate</li>
        </ul>
    </head>
    <body>
        <h1>ReFact</h1>
        <h2>About Us</h2>
        <p>ReFact is an organization that provides palestinian refugees with weekly 
            fun activities lead by local and international volunteers in order to feel 
            safe and alive!  ReFact gives a platform for palestinian refugees to share 
            their stories to the world and together inspire the next generation.
        </p>
    </body>
</html>