<html>
    <head>
        <title>Home</title>
        <ul>
            <li><a href="{{url_for('home')}}">HomePage</a></li>
            <li><a href="{{url_for('Activities')}}">Activities</a></li>
            <li><a href="{{url_for('stories')}}">View Stories</a></li>
            <li><a href="{{url_for('share')}}">Share Your Story</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('Login')}}">Log In</a></li>
            <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a href="{{url_for('Donate')}}">Donate</a></li>
            <li><a>Add Event</a></li>
        </ul>
    </head>
    <body>
        <h1>ReFact</h1>
        <h2>About Us</h2>
        <p>ReFact is an organization that provides palestinian refugees with weekly <br>
            fun activities lead by local and international volunteers in order to feel <br>
            safe and alive!  ReFact gives a platform for palestinian refugees to share <br>
            their stories to the world and together inspire the next generation.
        </p>
    </body>
</html>