<html>
    <head>
        <style>
            td{
                text-align: center;
            }
        </style>
    </head>
    <body>
       <center><table border="2">
            <tr><td>Program Number</td><td>Place</td><td>Date</td><td>Number of Participants</td><td>Aim of the Program</td><td>Description</td></tr>
            {% for i in programs %}
            <tr>
                <td>{{i.number}}</td>
                <td>{{i.place}}</td>
                <td>{{i.date}}</td>
                <td>{{i.numOfParticipants}}</td>
                <td>{{i.aim}}</td>
                <td>{{i.description}}</td>
            </tr>
            {% endfor %}
        </table></center>
    </body>
</html>