<html>
    <head>

    </head>
    <body>
        <form id="insert" action="/insert" method="POST">
            <input type="text" name="number" placeholder="Program number"><br>
            <input type="text" name="place" placeholder="Location"><br>
            <input type="text" name="date" placeholder="Date"><br>
            <input type="text" name="numppl" placeholder="Number of Participants"><br>
            <input type="text" name="aim" placeholder="Aim of the Program"><br>
            <textarea name="info" placeholder="Description"></textarea><br>
            <input type="submit" value="Confirm">
        </form>
    </body>
</html>