<html>
    <head>
        <title>Log In</title>
        <ul>
            <li><a href="{{url_for('home')}}">HomePage</a></li>
            <li><a href="{{url_for('Activities')}}">Activities</a></li>
            <li><a href="{{url_for('stories')}}">View Stories</a></li>
            <li><a href="{{url_for('share')}}">Share Your Story</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('Login')}}">Log In</a></li>
            <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a href="{{url_for('Donate')}}">Donate</a></li>
            <li><a>Add Event</a></li>
        </ul>
    </head>
    <body>
        <h1>Log In</h1>
        <form id="log" action="/login" method="POST">

        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit" value="Log In">Log In</button>
        </form>
    </body>
</html>