<html>
    <head>
        <title>Share Your Story</title>
            <ul>
                    <li>HomePage</li>
                    <li>Activities</li>
                    <li>View Stories</li>
                    <li>Share Your Story</li>
                    <li>Sign Up</li>
                    <li>Log In</li>
                    <li>Contact Us</li>
                    <li>Donate</li>
                </ul>
    </head>
    <body>
        <h1>Share your story</h1>
        <form id="share" action="/share" method="POST">
        <input type="text" name="name" placeholder="Full Name"><br>
        <textarea name="story" placeholder="Your Story"></textarea><br>
        <button type="submit" name="post" value="Post">Post</button>
    </form>
    </body>
</html>