<html>
    <head>

    </head>
    <body>
        <h1>Share Your experience</h1>
        <form id="share">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" age="age" placeholder="Age"><br>
        <textarea name="content" placeholder="Your Story"></textarea>
        <h2>A picture before: </h2>
        <input type="file" name="before" accept="image/*"><br>
        <h2>A picture after: </h2>
        <input type="file" name="after" accept="image/*"><br><br>
        <input type="submit">
        </form>
    </body>
</html>