<html>
    <head>
        <title>Share Your Story</title>
        <ul>
            <li><a href="{{url_for('home')}}">HomePage</a></li>
            <li><a href="{{url_for('Activities')}}">Activities</a></li>
            <li><a href="{{url_for('stories')}}">View Stories</a></li>
            <li><a href="{{url_for('share')}}">Share Your Story</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('Login')}}">Log In</a></li>
            <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a href="{{url_for('Donate')}}">Donate</a></li>
            <li><a>Add Event</a></li>
        </ul>
    </head>
    <body>
        <h1>Share your story</h1>
        <form id="share" action="/share" method="POST">
        <input type="text" name="name" placeholder="Full Name"><br>
        <textarea name="story" placeholder="Your Story"></textarea><br>
        <button type="submit" name="post" value="Post">Post</button>
    </form>
    </body>
</html>