<html>
    <head>
        <title>Sign Up Redirect</title>
        <ul>
            <li><a href="{{url_for('home')}}">HomePage</a></li>
            <li><a href="{{url_for('Activities')}}">Activities</a></li>
            <li><a href="{{url_for('stories')}}">View Stories</a></li>
            <li><a href="{{url_for('share')}}">Share Your Story</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('Login')}}">Log In</a></li>
            <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a href="{{url_for('Donate')}}">Donate</a></li>
            <li><a>Add Event</a></li>
        </ul>
    </head>
    <body>
        <h1>I am a:</h1>
        <form id="vol" action="/signup" method="POST">
            <select name="choice">
                    <option value="empty"></option>
                    <option value="volunteer">volunteer</option>
                    <option value="refugee">refugee</option>
                </select>
        </form>
    </body>
</html>