<html>
    <head>
        <title>Stories</title>
            <ul>
                    <li>HomePage</li>
                    <li>Activities</li>
                    <li>View Stories</li>
                    <li>Share Your Story</li>
                    <li>Sign Up</li>
                    <li>Log In</li>
                    <li>Contact Us</li>
                    <li>Donate</li>
                </ul>
    </head>
    <body>
        <h1>All Stories</h1>
        <center>
            <form id="story" action="/stories" method="GET">
            <table width="50%">
                {% for i in stories %}
                <tr><td><center>{{i.name}}</center><br>
                    {{i.email}}<br>
                    {{i.age}}<br>
                    {{i.content}}</td></tr>
                {% endfor %}
            </table>
        </form>
        </center>
    </body>
</html>