<html>
    <head>
        <title>Stories</title>
        <ul>
            <li><a href="{{url_for('home')}}">HomePage</a></li>
            <li><a href="{{url_for('Activities')}}">Activities</a></li>
            <li><a href="{{url_for('stories')}}">View Stories</a></li>
            <li><a href="{{url_for('share')}}">Share Your Story</a></li>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li><a href="{{url_for('Login')}}">Log In</a></li>
            <li><a href="{{url_for('contact_us')}}">Contact Us</a></li>
            <li><a href="{{url_for('Donate')}}">Donate</a></li>
            <li><a>Add Event</a></li>
        </ul>
    </head>
    <body>
        <h1>All Stories</h1>
        <center>
            <form id="story" action="/stories" method="GET">
            <table width="50%">
                {% for i in stories %}
                <tr><td><center>{{i.name}}</center><br>
                    {{i.email}}<br>
                    {{i.age}}<br>
                    {{i.content}}</td></tr>
                {% endfor %}
            </table>
        </form>
        </center>
    </body>
</html>