<html>
    <head>

    </head>
    <body>
        <input type="text" name="fname" placeholder="Full Name"><br>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="text" name="age" placeholder="Age"><br>
        <input type="radio" name="gender" value="Male">Male<br>
        <input type="radio" name="gender" value="Female">Female<br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit" value="Sign Up">Sign Up</button>
    </body>
</html>